run="LD_PRELOAD=\"\" && clear && mcs -langversion:7.2 -r:bin/System.Runtime.dll -r:bin/System.Text.RegularExpressions.dll -r:/usr/lib/mono/4.8-api/System.Drawing.dll -out:stkvy.exe src/*.cs && mono --aot=asmonly --aot=outfile=bin/stkvy.s stkvy.exe && echo ---OUTPUT--- && mono stkvy.exe main.stk"